.contact_section{
    display: flex;
    margin-top: 30px;
    gap: 40px;
}
.contact{
  margin-top: 50px;
}
.contact h1{
  text-align: center;
  font-size: 30px;
}
.contact p{
  margin: 20px;
  text-align: center;
  font-size: 20px;
}
.icon_boxes{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.contact_boxs{
    background: var(--text);
  border-radius: 12px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.contact_boxs:hover{
    transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  background-color: orange;
}
.contact_boxs p{
  font-size: 13px;
}
.contact_boxs span{
  color: var(--secondary);
  font-size: 40px;
  margin-top: 10px;
}
.boxes_flex{
    display: flex;
    gap: 40px;
}
.boxes_flex img{
    width: 600px;
    border-radius: 10px;
}
.services_section{
    margin-top: 100px;
}
.services{
    display: flex;
    justify-content: space-around;
    align-items: center;
  /* box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); */
  padding: 20px;
}
.line{
    width: 120px;
    height: 6px;
    background-color: orange;
    border-radius: 10px;
    margin: 20px auto;
}
.services img{
    width: 400px;
}
.services div{
    width: 600px;
}

.team_boxes{
    display: flex;
    justify-content: space-between;
    gap: 40px;

}
.team_box{
  
    padding: 20px;
    background: var(--text);
  border-radius: 12px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.team_box img{
    width: 220px;
    margin-bottom: 12px;
    border-radius: 12px;
    cursor: pointer;

}
.team_box:hover{
    background-color: orange;
    color: #ffff;
}
.team_boxes h5, p{
font-size: 16px;
}
@media screen and (max-width: 600px) {
 .team_boxes{
display: flex;
flex-direction: column;
align-items: center;
 }
 .team_boxes img{
    width: 200px;
 }
}
@media screen and (max-width: 400px) {
 .team_boxes{
display: flex;
flex-direction: column;
align-items: center;
 }
 .team_boxes img{
    width: 200px;
 }
}
@media screen and (max-width: 600px) {
 .services{
display: flex;
flex-direction: column;
align-items: center;
 }
 .services img{
    width: 300px;
 }
}
@media screen and (max-width: 400px) {
 .services{
display: flex;
flex-direction: column;
align-items: center;
 }
 .services img{
    width: 300px;
 }
}
@media screen and (max-width: 520px) {
 .contact_section{
display: flex;
flex-direction: column;
align-items: center;
 }
 .contact_boxs img{
    width: 300px;
 }
}
@media screen and (max-width: 520px) {
 .boxes_flex{
display: flex;
flex-direction: column;
align-items: center;
 }
 .boxes_flex img{
    width: 400px;
 }
}
@media screen and (max-width: 400px) {
 .boxes_flex{
display: flex;
flex-direction: column;
align-items: center;
 }
 .boxes_flex img{
    width: 300px;
 }
}


