.register_section{
    
    width: 600px;
     box-shadow: 0 4px 8px rgba(16, 185, 129, 0.25);
    padding: 20px;
    margin: 150px auto;
}
.register_section input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    outline: none;
    border: none;
         box-shadow: 0 4px 8px rgba(16, 185, 129, 0.25);

    
}
.register_section h1{
    text-align: center;
    text-transform: capitalize;
}
.login_btn_links{
display: flex;
align-items: center;
justify-content: space-between;
}
.login_btn_links p{
    margin-top: 10px;
    font-size: 16px;
}
.sign_Up_btn{
     background-color: orange; /* teal green */
  color: white;
  border: none;
  width: 150px;
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login_section{
      width: 600px;
     box-shadow: 0 4px 8px rgba(16, 185, 129, 0.25);
    padding: 20px;
   margin:150px auto;
}
.login_section h1{
    text-align: center;
    text-transform: capitalize;
}
.login_section input{
       width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 4px;
    outline: none;
    border: none;
         box-shadow: 0 4px 8px rgba(16, 185, 129, 0.25);
}
.login_section p{
        margin-top: 10px;
    font-size: 16px;
}
.login_section button{
        background-color: orange; /* teal green */
  color: white;
  border: none;
  width: 150px;
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.register_section a{
    text-decoration: none;
    color: orange;
}
.register_section a:hover{
    text-decoration: underline;
}
.login_section a{
    text-decoration: none;
    color: orange;
}
.login_section a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 600px) {
.register_section{
width: 400px;
  
}


 .login_btn_links{
display:flex;
flex-direction: column;
 }
 .login_btn_links button{
    width: 100%;
 }

}
@media screen and (max-width: 600px) {
.login_section{
width: 400px;
  
}


 .login_btn_links{
display:flex;
flex-direction: column;
 }
 .login_btn_links button{
    width: 100%;
 }

}